.vs
/SourceCode/Dev/Dispositivos/packages
/SourceCode/Dev/CentralATM/packages
/SourceCode/Dev/Dispositivos/packages
/SourceCode/Dev/Dispositivos/ATM.ControlPanel/bin
/SourceCode/Dev/Dispositivos/ATM.ControlPanel/obj
/SourceCode/Dev/Dispositivos/CentralServiceDispensador/bin
/SourceCode/Dev/Dispositivos/CentralServiceDispensador/obj
/SourceCode/Dev/Dispositivos/DispensadorTest/bin
/SourceCode/Dev/Dispositivos/DispensadorTest/obj
/SourceCode/Dev/Dispositivos/EmbosingProject/bin
/SourceCode/Dev/Dispositivos/EmbosingProject/obj
/SourceCode/Dev/Dispositivos/FingerControl/bin
/SourceCode/Dev/Dispositivos/FingerControl/obj
/SourceCode/Dev/Dispositivos/GeneradorLotes/bin
/SourceCode/Dev/Dispositivos/GeneradorLotes/obj
/SourceCode/Dev/Dispositivos/Interop.Main/bin
/SourceCode/Dev/Dispositivos/Interop.Main/obj
/SourceCode/Dev/Dispositivos/Monitor/bin
/SourceCode/Dev/Dispositivos/Monitor/obj
/SourceCode/Dev/Dispositivos/Monitoreo.Test/bin
/SourceCode/Dev/Dispositivos/Monitoreo.Test/obj
/SourceCode/Dev/Dispositivos/NMDManagement/bin
/SourceCode/Dev/Dispositivos/NMDManagement/obj
/SourceCode/Dev/Dispositivos/NMDTester/bin
/SourceCode/Dev/Dispositivos/NMDTester/obj
/SourceCode/Dev/Dispositivos/Orchestrator.Test/bin
/SourceCode/Dev/Dispositivos/Orchestrator.Test/obj
/SourceCode/Dev/Dispositivos/OrchestratorDevice/bin
/SourceCode/Dev/Dispositivos/OrchestratorDevice/obj
/SourceCode/Dev/Dispositivos/PCSC/bin
/SourceCode/Dev/Dispositivos/PCSC/obj
/SourceCode/Dev/Dispositivos/Runtime.Receptor.Test/bin
/SourceCode/Dev/Dispositivos/Runtime.Receptor.Test/obj
/SourceCode/Dev/Dispositivos/RuntimeCardReader/bin
/SourceCode/Dev/Dispositivos/RuntimeCardReader/obj
/SourceCode/Dev/Dispositivos/RuntimeCardReader.Test/bin
/SourceCode/Dev/Dispositivos/RuntimeCardReader.Test/obj
/SourceCode/Dev/Dispositivos/RuntimeDispensador/bin
/SourceCode/Dev/Dispositivos/RuntimeDispensador/obj
/SourceCode/Dev/Dispositivos/RuntimeFinger.Services.Test/bin
/SourceCode/Dev/Dispositivos/RuntimeFinger.Services.Test/obj
/SourceCode/Dev/Dispositivos/RuntimeFingerPrint/bin
/SourceCode/Dev/Dispositivos/RuntimeFingerPrint/obj
/SourceCode/Dev/Dispositivos/RuntimeReceptor/bin
/SourceCode/Dev/Dispositivos/RuntimeReceptor/obj
/SourceCode/Dev/Dispositivos/ServiceDispensador/bin
/SourceCode/Dev/Dispositivos/ServiceDispensador/obj
/SourceCode/Dev/Dispositivos/ServiceMonitoreo/bin
/SourceCode/Dev/Dispositivos/ServiceMonitoreo/obj
/SourceCode/Dev/Dispositivos/ServiceWCFDispenser/bin
/SourceCode/Dev/Dispositivos/ServiceWCFDispenser/obj
/SourceCode/Dev/Dispositivos/TestCardReader/bin
/SourceCode/Dev/Dispositivos/TestCardReader/obj
/SourceCode/Dev/Dispositivos/TestResults/bin
/SourceCode/Dev/Dispositivos/TestResults/obj
/SourceCode/Dev/Dispositivos/TestCardReader/bin
/SourceCode/Dev/Dispositivos/TestCardReader/obj
/SourceCode/Dev/Dispositivos/ToolDirective/bin
/SourceCode/Dev/Dispositivos/ToolDirective/obj
