<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.161.41:3210/soap/ServiceMonitoreo"
                binding="basicHttpBinding" bindingConfiguration="soap" contract="ServiceMonitoreo.IHandlerMonitoreo"
                name="soap" />
        </client>
    </system.serviceModel>
</configuration>