<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="LogConfigName" value="ReaderCardLog" />
		<add key="Version" value="1.2" />
		<add key="URIServerLog" value="http://192.168.96.111:3183/rest/ServiceMonitoreo" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
</configuration>
